body{
  font-family: "Inter";
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: #ddd;
  height: 8px;
  border-radius: 8px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background: blueviolet;
  border-radius: 50%;
  cursor: pointer;
}